@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #315951E5;
}

.auth-container {
    background-image: url(./assets/images/authBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-bg {
    background-color: var(--bg-color);
    border-radius: 16px;
}
.auth-bg p {
    font-family: "Inter", serif;
    font-weight: 500px;
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
}
.auth-bg h4 {
    font-family: "Inter", serif;
    font-weight: bold;
    color: #EF9B28;
    margin: 0;
}
.auth-bg span {
    position: relative;
}
.auth-bg span::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #EF9B28;
}
.auth-bg form .inputs .input label {
    font-size: 13px;
    font-family: "Inter", serif;
    font-weight: 400px;
    color: #EF9B28;
}
.auth-bg form .inputs .input input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    width: 100%;
    padding: 5px 0;
}
.auth-bg form .inputs .input input::placeholder {
    color: #ffffffac;
    font-size: 16px;
    font-family: "Inter", serif;
    font-weight: 400px;
}
.auth-bg form .inputs .input .password {
    position: relative;
}
.auth-bg form .inputs .input .password button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: transparent;
    outline: none;
    border: none;
}
.auth-bg form .inputs .input .password i {
    color: #ffffffac;
}
.auth-bg form .inputs .btn button {
    width: 100%;
    background-color: #EF9B28;
    color: #FFFFFF;
    border-radius: 95px;
    border: 2px solid transparent;
    outline: none;
    padding: 10px 5px;
    transition: 0.5s;
}
.auth-bg form .inputs .btn button:hover {
    border: 2px solid #EF9B28;
    background: transparent;
}
.auth-bg .link {
    text-decoration: none;
    color: #ffffffac;
}

.auth-bg .imageProfile img {
    width: 95px;
    height: 85px;
    border-radius: 50%;
}
:root { 
    --dark-color: #314a59;
    --Dark-Green: #0e382f;
  --body-light: #f5f5f5;
  --vertical-line-grey: #9a9a9a;
  --profile-img: #f4ce9b;
  --sidebar-links-light: #fff;
  --table-color:#315951E5;
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    }

  
.sidebar-container .ps-sidebar-container {
  background-color: var(--Dark-Green);
}

.sidebar-container .ps-sidebar-container a {
  color: var(--sidebar-links-light);
}
.sidebar-container img {
  width: 7rem !important;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(47, 140, 96, 0.5) !important;
}

.fa-solid.fa-user-group {
  transform: scaleX(-1); /* Flip horizontally to flip the second icon */
}
.toggle-icon {
  position: absolute;
  top: 1%;
  right: -1px; /* Position it just outside the sidebar */
  width: 30px; /* Adjust for your design */
  height: 30px;
  background-color: #ef9b28;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-icon i {
  font-size: 16px;
  color: #333;
}
/* Header */
.headercontainer {
  border-radius: 1rem; /* 16px */
  background-image: url("./assets/home-bg.png");
  background-position: center center;
  position: relative;
  height: 60vh; /* 60vh -> 36rem (assuming 1rem = 16px, and 60vh is too large, adjust as needed) */
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}

body {
  background-color: var(--body-light) !important;
}

.avatar {
  width: 100%;
}

/* Navbar  */
.nav {
  height: 3.125rem;
}

/* Profile image in a circular shape with background */
.profile-img {
  width: 3.125rem !important;
  height: 3.125rem !important;
  background-color: var(--profile-img);
  border-radius: 50%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.text-profile {
  color: var(--Dark-Green);
}

.vertical-line {
  width: 0.0625rem;
  height: 2.5rem;
  background-color: var(--vertical-line-grey);
}

.floating-label-field {
  border-width: 0;
  color: rgba(#2c3e50, 0.75);
  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &::placeholder {
    color: transparent;
  }
}
.floating-label-field {
  &,
  & + .floating-label {
    line-height: 1;
    font: inherit;
    padding: 1.5em;
    height: 4em;
  }
}
.floating-label-field {
  & + .floating-label {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
  }
}
.floating-label-field {
  &,
  & + .floating-label {
    position: relative;
  }
}
.floating-label-field {
  border-bottom: 3px solid rgba(white, 0.05);
  background-color: transparent;
  color: rgba(white, 0.75);
}
.floating-label-field {
  & + .floating-label {
    transition: transform 0.25s, opacity 0.25s ease-in-out;
    transform-origin: 0 0;
    opacity: 0.5;
  }
}

.floating-label-field {
  &:focus,
  &:not(:placeholder-shown) {
    border-color: rgba(white, 0.1);
    & + .floating-label {
      transform: translate(1%, -30%) scale(0.8);
      opacity: 0.25;
    }
  }
}
.floating-label-input {
  &:valid {
    &:not(:placeholder-shown) {
      border-color: rgba(#2ed573, 0.3);
    }
  }

  &:invalid {
    border-color: rgba(#ff4757, 0.3);
  }
}

/* projects */
.btn-add{
  background-color: var(--main-color);
  border: none;
  padding: 0 30px;
  border-radius: 30px;
  color: var(--white-color);
}
table {
  width: 100%;
}
table thead{
  background-color: var(--table-color);
  color: var(--white-color);
}

